{
	"webserver_host": "127.0.0.1",
	"webserver_port": 8080,
	"mongodb_host": "127.0.0.1",
	"mongodb_port": 27017,
	"mongodb_dbname": "default_db",
	"mongodb_username": "system",
	"mongodb_password": "secret",
	"smtp_host": "127.0.0.1",
	"smtp_port": 25000,
	"smtp_ssl": false,
	"smtp_auth": false,
	"smtp_username": "",
	"smtp_password": ""
}