body {
	padding-top: 60px;
	padding-bottom: 40px;
	background: transparent;
}

.sign_form {
	max-width: 300px;
	padding: 5px 5px 5px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.sign_form .sign_form-heading {
	margin-bottom: 5px;
}

.sign_form table {
	width: 100%;
}

.sign_form input[type="text"],.sign_form input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 5px;
	padding: 7px 9px;
}

.messages {
	list-style-type: none;
}

.invalid {
	color: red;
}

.warn {
	color: orange;
}

.valid {
	color: green;
}